{% extends 'app_pages/base.html' %}

{% block content %}
<div class="mx-80 px-20 mt-10">
    <div class="px-20 flex w-100 border-2 border-b-slate-400 border-r-slate-400 p-4 py-16 justify-evenly place-items-center">
        <div class="max-w-[20%]">
            <!-- <img src="/static/images/undraw_stock_prices_re_js33.svg" width="600" alt="hero"> -->
        </div>
        <div class="w-full">
            <h2 class="font-semibold mb-5 text-2xl">Create Account</h2>
            <form action="/create" method="POST">
                <div class="form-control w-full">
                    <label class="label">
                      <span class="label-text text-lg">Email</span>
                    </label>
                    <input type="text" name="name" placeholder="Type email here" class="ml-1 input input-bordered w-full" />
                </div>

                <div class="form-control w-full mt-3">
                    <label class="label">
                      <span class="label-text text-lg">Password</span>
                    </label>
                    <input type="password" name="pswd" placeholder="Type password here" class="ml-1 input input-bordered w-full" />
                </div>
                <div class="form-control">
                    <input type="submit" name="create" value="Sign up" class="input input-bordered w-full ml-1 mt-3 hover:cursor-pointer hover:bg-grey-200">
                </div>
                </form>
                <h4 class="text-center mt-4">Have an account? <a href="/login" class="text-blue-600 underline">Login</a></h4>
        </div>
    </div>
</div>
{% endblock %}