{% extends 'app_pages/base.html' %}

{% block content %}
    <div class="flex font-sans">
        <div class="w-1/4 mx-2">
            <h2 class="w-full text-xl font-bold mx-1">Enter Transaction details: </h2>
            <br>
            <div class=" mx-2 max-w-3xl bg-white border border-gray-900 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 ">
                <form action="#" method="post" id="myForm">
                    <div>
                        <label for="stockname" class="mx-1 block mb-2 text-l font-bold text-black dark:text-white">Stock name</label>
                        <input type="text" name="stock-name" placeholder="enter stock name" class=" bg-gray-50 border-4 border-black text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    <div>
                        <label for="qty" class="block mb-2 text-l font-bold text-black dark:text-white">Quantity</label>
                        <input type="number" name= "stock-quantity" placeholder="Enter qty"  min=1 class="bg-gray-50 border-4 border-black text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    <div>
                        <label for="date" class="block mb-2 text-l font-bold text-black dark:text-white">Transaction Date</label>
                        <input type="date" name="start-date" class="bg-gray-50 border-4 border-black text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    <br>
                    <!-- <div class="w-full bg-gray-600"> -->
                        <div class=" content-end self-end flex">
                                <input type="submit" name="buy" value="Buy" class=" w-1/2 bg-gray-600 text-black font-semibold px-4 py-4 rounded-r-lg cursor-pointer border-4 border-white">
                                <input type="submit" name="sell" value="Sell" class=" w-1/2 bg-gray-600 text-black font-semibold px-4 py-4 rounded-l-lg  cursor-pointer border-4 border-white">
                        </div>
                    <!-- </div> -->
                </form>
            </div>
        </div>
        <div class="w-3/4">
            <h2 class="text-xl font-bold mx-20">Portfolio details:</h2>
            <br>
            <div class="flex mx-20">
                <form method="post" class="flex">
                    <input type="text" name="search" id="search" placeholder="Search stock name" class="mx-1 px-2 border border-black rounded font-bold"/>
                </form>
                <div class="ml-auto flex">
                    <form method="post">
                        <input type="submit" name="insights" value="Insights" class=" bg-blue-900 text-white font-semibold px-4 py-1 rounded cursor-pointer ml-auto mx-2">
                        <input type="submit" name="thistory" value="See Transaction history" class=" mx-1 bg-blue-900 text-white font-semibold px-4 py-1 rounded cursor-pointer">
                    </form>
                </div>
                    <br>
            </div>
            <br>
            <div class="mx-10 ">
                <table id="stable1" class="w-full table-auto border-collapse border-4 border-blue-900">
                    <tr class="text-xl">
                        <th class="border border-black px-4 py-2">Amount Invested</th>
                        <th class="border border-black px-4 py-2">Current Value</th>
                        <th class="border border-black px-4 py-2">Overall Gain/Loss</th>
                    </tr>
                
                    <tbody>
                        <tr class="hover:bg-blue-800 hover:text-white font-medium">
                            <td class="border border-black px-4 py-2">INR {{ "%.2f"|format(total_investment) }}</td>
                            <td class="border border-black px-4 py-2">INR {{ total_current_value }}</td>
                            {% if total_investment %}
                                <td class="border border-black px-4 py-2">INR {{ "%.2f"|format(total_current_value - total_investment) }}</td>
                            {% endif %}
                            </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="mx-10 ">
                <table id="stable" class="w-full table-auto border-collapse border-4 border-blue-900">
                    <tr class="text-xl">
                        <th class="border border-black px-4 py-2">Index</th>
                        <th class="border border-black px-4 py-2">Username</th>
                        <th class="border border-black px-4 py-2">Stock Name</th>
                        <th class="border border-black px-4 py-2">Quantity</th>
                        <th class="border border-black px-4 py-2">Transaction Price</th>
                        <th class="border border-black px-4 py-2">Total investment</th>
                        <th class="border border-black px-4 py-2">Current Market Price</th>
                        <th class="border border-black px-4 py-2">Value at CMP</th>
                        <th class="border border-black px-4 py-2">Profit/Loss</th>
                        <th class="border border-black px-4 py-2">Profit/Loss Percentage</th>
                    </tr>
                
                    <tbody>
                        {% for row in rows %}
                        <tr class="hover:bg-blue-800 hover:text-white font-medium">
                            <td class="border border-black px-4 py-2">{{ loop.index }}</td>
                            <td class="border border-black px-4 py-2">{{ row[0] }}</td>
                            <td class="border border-black px-4 py-2">{{ row[1] }}</td>
                            <td class="border border-black px-4 py-2">{{ '{:,}'.format(row[2]) }}</td>
                            <td class="border border-black px-4 py-2">{{ '{:,}'.format(row[3]) }}</td>
                            <td class="border border-black px-4 py-2">{{ '{:,}'.format(row[4]) }}</td>
                            <td class="border border-black px-4 py-2">{{ '{:,}'.format(row[5]) }}</td>
                            <td class="border border-black px-4 py-2">{{ '{:,}'.format(row[6]) }}</td>
                            <td class="border border-black px-4 py-2">{{ row[7] }}</td>
                            {% if row[7] %}
                                <td class="border border-black px-4 py-2">{{ "%.2f"|format((row[7]/total_investment)*100) }} %</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    <form method="post" id="logoutform">
        <input type="submit" name="logout" value="Logout" class="mx-1 bg-blue-900 text-white font-semibold px-4 py-1 rounded cursor-pointer">
    </form>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
    const searchInput= document.getElementById("search")
    const rows1= document.querySelectorAll("#stable tbody tr")
    searchInput.addEventListener('keyup', function(event){
        const q=event.target.value.toLowerCase();
        rows1.forEach((row2)=>{
            console.log(row2.querySelector('td:nth-child(3)'))
            row2.querySelector('td:nth-child(2)').textContent.toLowerCase().startsWith(q) ? (row2.style.display="table-row") : 
            (row2.style.display='none')
        });
    });
</script>
{% endblock %}
